.panel__person {
  height: 60px;
  border: 1px solid #F3F3F3;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 4px;
  overflow: hidden;
  max-width: 175px;
  background-color: #FFFFFF;
  img {
    max-width: 58px;
    width: 100%;
    height: 100%;
  }
  .panel__name {
    width: 100%;
    color: #333333;
    font-family: 'Futura', sans-serif;
    font-weight: 500;
    font-size: 24px;
    display: flex;
    justify-content: center;
  }
}
