<div class="panel__tile">
  <div class="panel__tile-title">
    <div class="panel__tile-number">
      <span class="panel__tile-subtitle">номер чека:</span>
      <h3>..9 962 </h3>
    </div>
    <div class="panel__tile-status tile-status__close">
      <span>закрыт</span>
    </div>
    <div class="panel__tile-date tile-date__active">
      <span>20.03  12:15</span>
    </div>
  </div>
  <div class="panel__tile-content">
    <div class="panel__tile-scroll">
      <div class="panel__tile-info">
        <div class="panel__tile-label">
          <span class="panel__tile-description">Сотрудник</span>
          <span class="panel__tile-result">Иванов А.А</span>
        </div>
        <div class="panel__tile-label">
          <span class="panel__tile-description">Закрытие чека</span>
          <time class="panel__tile-result">12:41</time>
        </div>
      </div>
      <div class="panel__tile-order-description">
      <div class="panel__tile-label">
        <span class="panel__tile-description">Закрытие чека</span>
        <time class="panel__tile-result">12:41</time>
      </div>
      <div class="panel__tile-label">
        <span class="panel__tile-description">Добавление позиций в заказ (пицца x1,ролл x1)</span>
        <time class="panel__tile-result">12:41</time>
      </div>
        <div class="panel__tile-label">
        <span class="panel__tile-description">Добавление позиций в заказ (пицца x1,ролл x1)</span>
        <time class="panel__tile-result">12:41</time>
      </div>
      <div class="panel__tile-label">
        <span class="panel__tile-description">Добавление позиций в заказ (пицца x1,ролл x1)</span>
        <time class="panel__tile-result">12:41</time>
      </div>
    </div>
    </div>
    <div class="panel__tile-price">
      <div class="panel__tile-label">
        <span class="panel__tile-description-price">Общий чек</span>
        <span class="panel__tile-cost">1’251.50</span>
      </div>
    </div>
  </div>
  <div mat-button class="panel__tile-button" (click)="openDialog()"><a mat-button>Открыть</a></div>
</div>
